*,
body {
    font-family: 'Clash Display', sans-serif;
    margin: 0;
    padding: 0;
    cursor: inherit;
}

body {
    overflow-x: hidden;
}


/* HEADER */

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* Utilisation de space-between pour séparer les éléments à l'extrémité */
    padding: 10px;
    /* Ajout de rembourrage pour un meilleur aspect */
}

header nav a {

    color: black;
    font-weight: 600;

}

/* Permet au bouttons de recevoir le curseur du parent html, sinon il est défini en default */
button {
    cursor: inherit;
}

#search {
    min-width: 0;
    max-width: 0px;
    transition: min-width 2s;
    opacity: 0;
    padding: 2px;

}


nav a:hover {
    color: black;
    text-decoration: underline !important;

}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 40px;
    /* Ajout d'une marge entre les éléments de la liste */
}

/* Pour éviter la marge à droite du dernier élément de la liste */
nav ul li:last-child {
    margin-right: 0;
}

p {
    margin-bottom: 0;
}

/* BODY */

#body {
    background: #fffae6;
}

#top {
    margin-top: 5%;
    justify-content: center;
}

#h1 {
    font-weight: bold;
    color: #ffb800;
    font-size: 80px;
}

#h2 {
    font-weight: bold;
    color: #ffb800;
    font-size: 60px;
}

#textbutton {
    width: 400px;
}

#textbutton button {
    width: 253px;
    height: 63px;
    border: none;
    background: #ADCB99;
    box-shadow: 0px 4px 0px 0px rgba(255, 184, 0, 0.25);
    font-weight: bold;
    font-size: 25px;
    color: white;
}

a:hover {
    text-decoration: none!important;
}


/* SLIDER */

#carouselExampleControls {

    margin-top: 5%;
    margin-right: 15%;
    margin-left: 15%;

}

.carousel-control-prev-icon {

    background-image: none !important;
    background: white;
    width: 50px !important;
    height: 50px !important;
}

.carousel-control-prev {
    opacity: 1 !important;
}

.carousel-control-next {
    opacity: 1 !important;
}

.carousel-control-next-icon {

    background-image: none !important;
    background: white;
    width: 50px !important;
    height: 50px !important;
}

.btn-tomato {
    color: #fff;
    border-color: #ADCB99;
    background: #ADCB99;
}

.btn-film {
    color: #ffffff;
    border-color: #ADCB99;
    background: #ADCB99;
}

.btn-tomato:hover {
    color: #000000;
    border-color: #ADCB99;
    background: #ADCB99;
}

.btn-film:hover {
    color: #000000;
    border-color: #ADCB99;
    background: #ADCB99;
}

.chart-container {
    position: relative;
    height: 80vh;
    width: 80vw;
    display: flex;
    margin: 50px 280px;
    align-items: center;
    justify-content: center;
}

.form-ajout {
    height: 55px;
    text-indent: 12px;
    border-radius: 10px;
    border: none;
}

p {
    margin: 0;
}

.carousel-control-prev {
    height: 3.5vw;
    transform: translate(1vw, 39vw);
}

.carousel-control-next {
    height: 3.5vw;
    transform: translateY(39vw);
}

.name {
    position: absolute;
    right: 100%;
    bottom: 8.25rem;
    left: 8%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #000000;
    text-align: center;
    line-height: 80px;
}

.name p {
    font-size: 35px;
    font-weight: 800;
}

.name h3 {
    padding-bottom: 25px;
    font-size: 60px;
    font-weight: 800;
    /* width: 50%; */
    line-height: 50px;
}

.desc {
    width: 30%;
    position: absolute;
    bottom: 13.25rem;
    left: 65%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #000000;
    text-align: justify;
    background-color: #ffffffd1;
    padding: 25px;
    border-radius: 25px;
    font-weight: 400;
}

.important {
    font-size: 4vw;
}

.trait {
    opacity: 1;
    width: 75%;
    border: 3px solid #ffb800;
    border-radius: 5px
}